.header {
	border-bottom: 1px solid #e2e2e2;
	padding: 12upx 3%;
	justify-content: center;
	align-items: center;
	color: #666;
	width: 94%;
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 64upx;
	line-height: 64upx;
	z-index: 888;
}

button:after {
	border: 0;
}

.space-between {
	justify-content: space-between;
}

.justify-content {
	justify-content: space-around;
}

.fontWnormal {
	font-weight: normal;
}

.justify-content {
	justify-content: space-around;
}

.align-items {
	align-items: center;
}

.flex-end {
	justify-content: flex-end;
}

rich-text .img {
	display: block;
}

.hide {
	display: none;
}

.footer {
	border-top: 1px solid #e2e2e2;
	padding: 12upx 3%;
	justify-content: center;
	align-items: center;
	color: #666;
	width: 94%;
	background-color: #FFFFFF;
	position: fixed;
	z-index: 888;
	bottom: 0;
	left: 0;
	height: 64upx;
	line-height: 64upx;
}

.btn {
	display: flex;
	width: 160upx;
	height: 64upx;
	margin: 0 8upx;
	color: #fff;
	line-height: 64upx;
	justify-content: center;
	align-items: center;
	background: #dd0101;
	border-radius: 16px;
	padding: 0;
	font-size: 28upx;
}

.space {
	height: 88upx;
}

.btn-hollow {
	display: flex;
	width: 148upx;
	height: 64upx;
	line-height: 64upx;
	margin: 0 8upx;
	/* border: 1px solid #cdcdcd; */
	background: #cdcdcd;
	border-radius: 6upx;
	margin: 0 8upx;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
}


.justify-content-center {
	justify-content: center;
}

.justify-align-center {
	justify-content: center;
	align-items: center;
}

.justify-flex-end {
	justify-content: flex-end;
}

.color-f40 {
	color: #FF4400;
}

.color-555 {
	color: #505050;
}

.font-size-24 {
	font-size: 24upx;
}

.item-padding {
	padding: 0 16upx;
}

swiper {
	width: 750upx;
	height: 375upx;
	margin-bottom: 4upx;
}

.swiper .swiper-item image {
	width: 750upx;
	height: 375upx;
}

.form {
	background-color: #FFFFFF;
	padding: 15upx 0;
}

.form .headIco {
	height: 60upx;
	width: 60upx;
}

.form .uni-form-item {
	padding: 0 2%;
	width: 96%;
	line-height: 80upx;
	height: 80upx;
	overflow: hidden;
	align-items: center;
	border-bottom: 1px solid #E2E2E2;
}

.form switch {
	padding: 15upx 0;
}
